In [21]:
import pandas as pd
import numpy as np
import base64
import hashlib
import hmac
import urllib.parse
import requests
import json
import time
import string
import random

## Standard request

In [ ]:
# set the oauth parameters for the client request
oauth_consumer_key = '3cf2ef5fe4c5f03864af5210991144ec96736087d4e2d32cce613d27c941bfe7'
oauth_token = 'c69eda6bb5ede3e6858807950213992ece347f7e2844dc2182a9e569da1826bc'
oauth_consumer_secret = 'eebf4fe840f185ebbea477ae6bdbc32e5f51c9d4cf86c8402a1e5fef89997f4e'
oauth_token_secret = '0840215b4d37133aecd7fca288d2ec12c1df3b8d716830394e9e52c69d54d02a'
oauth_signature_method = 'HMAC-SHA256'
oauth_timestamp = str(round(time.time()))
oauth_version = '1.0'
url = 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer'
account_id = '1238277_SB1'
http_method = 'GET'

# create an 11 character alpha-numeric nonce
def generate_nonce():

  # create a list of all possible characters for the nonce and append them to the nonce list
  characters = string.ascii_letters + string.digits
  nonce = []
  for _ in range(11):
    nonce.append(random.choice(characters))

  return "".join(nonce)

oauth_nonce = generate_nonce()

# create a signature using a base string of a consistent reproducible concatenation of several of the http request elements into a single string
def oath_signature(oauth_consumer_key, oauth_token, oauth_signature_method, oauth_timestamp, oauth_nonce, oauth_version, oauth_consumer_secret, oauth_token_secret):

  # set the base string to include all parameters for the request
  base_string = urllib.parse.quote("&".join([
      "oauth_consumer_key=" + oauth_consumer_key,
      "oauth_nonce=" + oauth_nonce,
      "oauth_signature_method=" + oauth_signature_method,
      "oauth_timestamp=" + oauth_timestamp,
      "oauth_token=" + oauth_token,
      "oauth_version=" + oauth_version
      ]), safe='')

  # use the http method, url, and base string to set the signing value
  signing_value = "&".join([
      http_method.upper(),
      urllib.parse.quote(url, safe=''),
      base_string
      ])

  # set the signature key
  signing_key = urllib.parse.quote("&".join([
      oauth_consumer_secret,
      oauth_token_secret
      ]), safe='&')

  # use the signing key and signing value to generate the oauth signature
  oauth_signature = urllib.parse.quote(
      base64.b64encode(
        hmac.new(
            signing_key.encode("utf-8"),
            signing_value.encode("utf-8"),
            hashlib.sha256
        ).digest()
      ).decode("utf-8"), safe='~()*!.\'')

  return oauth_signature

# create the headers
oauth_header = f'OAuth realm="{account_id}",oauth_consumer_key="{oauth_consumer_key}",oauth_token="{oauth_token}",oauth_signature_method="{oauth_signature_method}",oauth_timestamp="{oauth_timestamp}",oauth_nonce="{oauth_nonce}",oauth_version="{oauth_version}",oauth_signature="{oath_signature(oauth_consumer_key, oauth_token, oauth_signature_method, oauth_timestamp, oauth_nonce, oauth_version, oauth_consumer_secret, oauth_token_secret)}"'
headers = {
    "Authorization": oauth_header,
    "Cookie": "NS_ROUTING_VERSION=LAGGING"
    }

# make the http request
response = requests.request(http_method, url, headers=headers)
response

In [ ]:
# Parse the response string into a dictionary
response_dict = json.loads(response.content)
# response_dict = response.json()

# Get the 'items' field from the dictionary
items = response_dict['items']

# Extract the 'href' values using a list comprehension
href_values = [item['links'][0]['href'] for item in items]

print(href_values)

['https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/129', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/126', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/127', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/128', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/130', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/131', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/134', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/136', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/132', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/133', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/135', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/137', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/139', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/138', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/140', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/141', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/142', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/143', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/144', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/146', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/145', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/149', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/150', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/148', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/151', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/152', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/153', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/154', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/156', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/155', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/157', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/158', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/6', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/159', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/160', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/161', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/162', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/163', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/168', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/164', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/165', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/166', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/167', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/169', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/170', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/171', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/172', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/174', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/173', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/176', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/175', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/177', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/178', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/1753', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/179', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/180', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/181', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/182', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/186', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/183', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/184', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/185', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/187', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/188', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/189', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/190', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/191', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/192', 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/record/v1/customer/147']

---

## SuiteQL request

In [22]:
# set the oauth parameters for the client request
oauth_consumer_key = '3cf2ef5fe4c5f03864af5210991144ec96736087d4e2d32cce613d27c941bfe7'
oauth_consumer_secret = 'eebf4fe840f185ebbea477ae6bdbc32e5f51c9d4cf86c8402a1e5fef89997f4e'
oauth_token = 'c69eda6bb5ede3e6858807950213992ece347f7e2844dc2182a9e569da1826bc'
oauth_token_secret = '0840215b4d37133aecd7fca288d2ec12c1df3b8d716830394e9e52c69d54d02a'
oauth_signature_method = 'HMAC-SHA256'
oauth_timestamp = str(round(time.time()))
oauth_version = '1.0'
url = 'https://1238277-sb1.suitetalk.api.netsuite.com/services/rest/query/v1/suiteql'
account_id = '1238277_SB1'
http_method = 'POST'

# create an 11 character alpha-numeric nonce
def generate_nonce():

  # create a list of all possible characters for the nonce and append them to the nonce list
  characters = string.ascii_letters + string.digits
  nonce = []
  for _ in range(11):
    nonce.append(random.choice(characters))

  return "".join(nonce)

oauth_nonce = generate_nonce()

# create a signature using a base string of a consistent reproducible concatenation of several of the http request elements into a single string
def oath_signature(oauth_consumer_key, oauth_token, oauth_signature_method, oauth_timestamp, oauth_nonce, oauth_version, oauth_consumer_secret, oauth_token_secret):

  # set the base string to include all parameters for the request
  base_string = urllib.parse.quote("&".join([
      "oauth_consumer_key=" + oauth_consumer_key,
      "oauth_nonce=" + oauth_nonce,
      "oauth_signature_method=" + oauth_signature_method,
      "oauth_timestamp=" + oauth_timestamp,
      "oauth_token=" + oauth_token,
      "oauth_version=" + oauth_version
      ]), safe='')

  # use the http method, url, and base string to set the signing value
  signing_value = "&".join([
      http_method.upper(),
      urllib.parse.quote(url, safe=''),
      base_string
      ])

  # set the signature key
  signing_key = urllib.parse.quote("&".join([
      oauth_consumer_secret,
      oauth_token_secret
      ]), safe='&')

  # use the signing key and signing value to generate the oauth signature
  oauth_signature = urllib.parse.quote(
      base64.b64encode(
        hmac.new(
            signing_key.encode("utf-8"),
            signing_value.encode("utf-8"),
            hashlib.sha256
        ).digest()
      ).decode("utf-8"), safe='~()*!.\'')

  return oauth_signature

# create the headers
oauth_header = f'OAuth realm="{account_id}",oauth_consumer_key="{oauth_consumer_key}",oauth_token="{oauth_token}",oauth_signature_method="{oauth_signature_method}",oauth_timestamp="{oauth_timestamp}",oauth_nonce="{oauth_nonce}",oauth_version="{oauth_version}",oauth_signature="{oath_signature(oauth_consumer_key, oauth_token, oauth_signature_method, oauth_timestamp, oauth_nonce, oauth_version, oauth_consumer_secret, oauth_token_secret)}"'
headers = {
    "Authorization": oauth_header,
    "prefer": "transient",
    "Cookie": "NS_ROUTING_VERSION=LAGGING"
    }

# specify the query in the request body after the query parameter q
body = {
    ### VENDORS ###

    # "q":"""
    # SELECT vendor.id as system_id, 
    #       NVL(vendor.companyname, NVL(vendor.altname, vendor.firstname || ' ' || vendor.lastname)) AS name, 
    #       CASE 
    #         WHEN vendor.isinactive = 'T' THEN 0
    #         WHEN vendor.isinactive = 'F' THEN 1
    #       END AS active,
    #       vendorcategory.name AS category, 
    #       vendor.email AS email, 
    #       vendoraddressbookentityaddress.country AS country, 
    #       vendoraddressbookentityaddress.addr1 AS address_1, 
    #       vendoraddressbookentityaddress.addr2 AS address_2, 
    #       vendoraddressbookentityaddress.city AS city, 
    #       vendoraddressbookentityaddress.state AS state_province, 
    #       vendoraddressbookentityaddress.zip AS zip, 
    #       systemnote.date AS created_date, 
    #       employee.firstname || ' ' || employee.lastname AS created_by,  
    # FROM vendor 
    # LEFT JOIN vendorcategory 
    # ON vendor.category = vendorcategory.id 
    # LEFT JOIN systemnote 
    # ON systemnote.recordid = vendor.id 
    # LEFT JOIN employee 
    # ON systemnote.name = employee.id
    # LEFT JOIN vendoraddressbookentityaddress
    # ON vendor.defaultbillingaddress = vendoraddressbookentityaddress.nkey
    # WHERE systemnote.type = 1 AND systemnote.field = 'ENTITY.NKEY'
    # """

    ### CUSTOMERS ###
  
    # "q":"""
    # SELECT customer.id as system_id, 
    #       NVL(customer.companyname, NVL(customer.altname, customer.firstname || ' ' || customer.lastname)) AS name, 
    #       CASE 
    #         WHEN customer.isinactive = 'T' THEN 0
    #         WHEN customer.isinactive = 'F' THEN 1
    #       END AS active,
    #       customercategory.name AS category, 
    #       customer.email AS email, 
    #       customeraddressbookentityaddress.country AS country, 
    #       customeraddressbookentityaddress.addr1 AS address_1, 
    #       customeraddressbookentityaddress.addr2 AS address_2, 
    #       customeraddressbookentityaddress.city AS city, 
    #       customeraddressbookentityaddress.state AS state_province, 
    #       customeraddressbookentityaddress.zip AS zip, 
    #       systemnote.date AS created_date, 
    #       employee.firstname || ' ' || employee.lastname AS created_by,  
    # FROM customer 
    # LEFT JOIN customercategory 
    # ON customer.category = customercategory.id 
    # LEFT JOIN systemnote 
    # ON systemnote.recordid = customer.id 
    # LEFT JOIN employee 
    # ON systemnote.name = employee.id
    # LEFT JOIN customeraddressbookentityaddress
    # ON customer.defaultbillingaddress = customeraddressbookentityaddress.nkey
    # WHERE systemnote.type = 1 AND systemnote.field = 'ENTITY.NKEY'
    # """

    ### TRANSACTIONS ###

    "q":"""
    SELECT transaction.id AS system_id, 
      transaction.trandate AS created_date,
      employee.firstname || ' ' || employee.lastname AS created_by,
      transaction.type AS type_abbr, 
      transaction.recordtype AS type,
      transaction.status AS status,
      CASE 
        WHEN transaction.paymenthold = 'T' THEN 1
        WHEN transaction.paymenthold = 'F' THEN 0
      END AS payment_hold,
      transaction.trandisplayname AS transaction_name,
      transaction.number AS document_number,
      transaction.tosubsidiary AS subsidiary,
      currency.name AS currency,
      transaction.foreigntotal AS total,
      transaction.taxtotal AS tax_total,
      transaction.foreignamountpaid AS paid_total,
      transaction.vendor as vendor,
      transactionbillingaddress.country AS country,
      transactionbillingaddress.addr1 AS address_1,
      transactionbillingaddress.addr2 AS address_2,
      transactionbillingaddress.city AS city,
      transactionbillingaddress.state AS state_province,
      transactionbillingaddress.zip AS zip,
      transaction.approvalstatus AS approved,
      CASE 
        WHEN transaction.billingstatus = 'T' THEN 0
        WHEN transaction.billingstatus = 'F' THEN 1
      END AS billed,
      CASE 
        WHEN transaction.billingstatus = 'T' THEN 1
        WHEN transaction.billingstatus = 'F' THEN 0
      END AS billed,
      transaction.source AS source,
      transaction.otherrefnum AS po_check_number,
      transaction.sourcetransaction AS source_transaction,
    FROM transaction
    LEFT JOIN transactionbillingaddress
    ON transaction.billingaddress = transactionbillingaddress.nkey
    LEFT JOIN currency
    ON transaction.currency = currency.id
    LEFT JOIN employee 
    ON transaction.createdby = employee.id
    WHERE transaction.type IN ('VendBill', 'VendPymt', 'Commissn', 'CustCred', 'CustRfnd', 'ExpRept', 'CustInvc', 'Journal', 'PurchOrd', 'RtnAuth', 'SalesOrd', 'VendAuth') 
    AND to_date(transaction.createddate, 'MM/DD/YYYY') > SYSDATE - 730
    """

    ## SELECT ALL ###

    # 'q':"""
    # SELECT
    # transaction.recordtype,
    # systemnote.newvalue,
    # systemnote.oldvalue
    # FROM transaction
    # LEFT JOIN systemnote 
    # ON transaction.id = systemnote.recordid 
    # WHERE transaction.recordtype = 'journalentry' AND transaction.typebaseddocumentnumber = 'JE02'
    # """

    ###

    # 'q':"""
    # SELECT * 
    # FROM transaction
    # WHERE to_date(transaction.createddate, 'MM/DD/YYYY') > SYSDATE - 730
    # """

    }

# send a POST request to the suiteql resource
response = requests.request(http_method, url, headers=headers, json=body)

response

In [23]:
parsed_data = json.loads(response.content)
items = parsed_data['items']
df = pd.DataFrame(items).drop(columns='links')
df

,address_1,address_2,approved,billed,city,country,created_by,created_date,currency,document_number,...,payment_hold,state_province,status,system_id,total,transaction_name,type,type_abbr,zip,tax_total
0,1111 Company St,#35,2,1,Portland,US,Colton Lawson,1/24/2023,USD,1234,...,0,ME,A,617,-100,Bill #1234,vendorbill,VendBill,20110,NaN
1,1111 Company St,#35,2,0,Portland,US,Colton Lawson,1/24/2023,USD,12345,...,0,ME,B,614,-100,Bill #12345,vendorbill,VendBill,20110,NaN
2,NaN,NaN,NaN,0,NaN,NaN,Colton Lawson,1/24/2023,USD,3,...,0,NaN,Y,615,-100,Bill Payment #3,vendorpayment,VendPymt,NaN,NaN
3,165 Madison Ave.,Suite 2000,NaN,1,Memphis,US,,9/30/2022,USD,15003,...,0,TN,A,109,2655.98,Invoice #015003,invoice,CustInvc,38103,0
4,525 W. Monroe St.,NaN,NaN,1,Chicago,US,,9/30/2022,USD,15004,...,0,IL,A,209,3552,Invoice #015004,invoice,CustInvc,60661,0
5,2700 Market Tower,10 West Market Street,NaN,1,Indianapolis,US,,9/30/2022,USD,15005,...,0,IN,A,309,1312.5,Invoice #015005,invoice,CustInvc,46204,0
6,6050 Oak Tree Blvd South,#500,NaN,1,Cleveland,US,,9/30/2022,USD,15006,...,0,OH,A,310,11000,Invoice #015006,invoice,CustInvc,44131,0
7,6250 Shiloh Road,Suite 110,NaN,1,Alpharetta,US,,9/30/2022,USD,15007,...,0,GA,A,311,1653.23,Invoice #015007,invoice,CustInvc,30005,0
8,3500 Lacey Road,NaN,NaN,1,Downers Grove,US,,9/30/2022,USD,15008,...,0,IL,A,409,1990.63,Invoice #015008,invoice,CustInvc,60515-5422,0
9,3500 Lacey Road,NaN,NaN,1,Downers Grove,US,,9/30/2022,USD,15009,...,0,IL,A,509,3981.25,Invoice #015009,invoice,CustInvc,60515-5422,0
10,300 Park Blvd.,Suite 500,NaN,1,Itasca,US,,9/30/2022,USD,15010,...,0,IL,A,410,4456,Invoice #015010,invoice,CustInvc,60143,0
11,4101 Winfield Road,NaN,NaN,1,Warrenville,US,,9/30/2022,USD,15011,...,0,IL,A,411,1490,Invoice #015011,invoice,CustInvc,60555,0
12,3500 Lacey Road,NaN,NaN,1,Downers Grove,US,,9/30/2022,USD,15012,...,0,IL,A,510,1990.63,Invoice #015012,invoice,CustInvc,60515-5422,0
13,4101 Winfield Road,NaN,NaN,1,Warrenville,US,,9/30/2022,USD,15013,...,0,IL,A,412,3315,Invoice #015013,invoice,CustInvc,60555,0
14,101 N. Wacker Drive,NaN,NaN,1,Chicago,US,,9/30/2022,USD,15014,...,0,IL,A,413,5368,Invoice #015014,invoice,CustInvc,60606,0
15,One Kellogg Square,NaN,NaN,1,Battle Creek,US,,9/30/2022,USD,15015,...,0,MI,A,511,7727,Invoice #015015,invoice,CustInvc,49016-3599,0
16,2409 46th Ave.,NaN,NaN,1,Lachine,US,,9/30/2022,USD,15016,...,0,QB,A,414,57626.5,Invoice #015016,invoice,CustInvc,H8T 3C9,0
17,4101 Winfield Road,NaN,NaN,1,Warrenville,US,,9/30/2022,USD,15017,...,0,IL,A,512,2176,Invoice #015017,invoice,CustInvc,60555,0
18,9801 W. Higgins Road,7th Floor,NaN,1,Rosemont,US,,9/30/2022,USD,15018,...,0,IL,A,415,9075,Invoice #015018,invoice,CustInvc,60018,0
19,929 Gessner Drive,Suite 2600,NaN,1,Houston,US,,9/30/2022,USD,15019,...,0,TX,A,513,15500,Invoice #015019,invoice,CustInvc,77024,0
20,2409 46th Ave.,NaN,NaN,1,Lachine,US,,9/30/2022,USD,15020,...,0,QB,A,514,4632.42,Invoice #015020,invoice,CustInvc,H8T 3C9,0
21,9801 W. Higgins Road,7th Floor,NaN,1,Rosemont,US,,9/30/2022,USD,15021,...,0,IL,A,515,4000,Invoice #015021,invoice,CustInvc,60018,0
22,NaN,NaN,NaN,1,NaN,NaN,B Bada,10/7/2022,USD,15024,...,0,NaN,A,611,20,Invoice #015024,invoice,CustInvc,NaN,0
23,NaN,NaN,NaN,1,NaN,NaN,Claire Hampton,10/7/2022,USD,15025,...,0,NaN,A,612,4000,Invoice #015025,invoice,CustInvc,NaN,0
24,NaN,NaN,NaN,1,NaN,NaN,B Bada,11/29/2022,USD,15026,...,0,NaN,A,613,25,Invoice #015026,invoice,CustInvc,NaN,0
25,NaN,NaN,NaN,0,NaN,NaN,Colton Lawson,1/26/2023,USD,1,...,0,NaN,B,619,NaN,Journal #JE01,journalentry,Journal,NaN,NaN
26,NaN,NaN,NaN,0,NaN,NaN,Colton Lawson,1/27/2023,USD,2,...,0,NaN,B,620,NaN,Journal #JE02,journalentry,Journal,NaN,NaN
27,1111 Company St,#35,NaN,0,Portland,US,Colton Lawson,1/24/2023,USD,1,...,0,ME,G,616,-100,Purchase Order #PO01,purchaseorder,PurchOrd,20110,NaN
28,1111 Company St,#35,NaN,1,Portland,US,Colton Lawson,1/26/2023,USD,2,...,0,ME,F,618,-100,Purchase Order #PO02,purchaseorder,PurchOrd,20110,NaN
29,300 Schlumberger Drive,NaN,NaN,1,Sugar Land,US,,9/7/2022,USD,1,...,0,TX,F,1,2500,Sales Order #SO01,salesorder,SalesOrd,77478,0

In [ ]:
# https://gist.github.com/W3BGUY/af08ddd92b87641e28df9c26d545d387#file-netsuite-transaction-status-codes

In [26]:
items[0]

{'links': [],
 'address_1': '1111 Company St',
 'address_2': '#35',
 'approved': '2',
 'billed': '1',
 'city': 'Portland',
 'country': 'US',
 'created_by': 'Colton Lawson',
 'created_date': '1/24/2023',
 'currency': 'USD',
 'document_number': '1234',
 'paid_total': '0',
 'payment_hold': '0',
 'state_province': 'ME',
 'status': 'A',
 'system_id': '617',
 'total': '-100',
 'transaction_name': 'Bill #1234',
 'type': 'vendorbill',
 'type_abbr': 'VendBill',
 'zip': '20110'}

In [ ]:
df[df['abbrevtype'] != 'INV']

,abbrevtype,approvalstatus,balsegstatus,billingaddress,billingstatus,createdby,createddate,currency,custbody_11724_pay_bank_fees,custbody_9997_is_for_ep_eft,...,shipdate,terms,totalcostestimate,typebaseddocumentnumber,custbody_ipt_template,custbody_atlas_svcs_mm_json,journaltype,email,firmed,nextbilldate
0,BILL,2,5,313,T,2055,1/24/2023,1,F,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BILL,2,5,313,F,2055,1/24/2023,1,F,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BILLPMT,NaN,5,NaN,F,2055,1/24/2023,1,F,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,GENJRNL,NaN,5,NaN,F,2055,1/26/2023,1,NaN,NaN,...,NaN,NaN,NaN,JE01,NaN,NaN,JOURNAL,NaN,NaN,NaN
26,PURCHORD,NaN,5,313,F,2055,1/24/2023,1,NaN,NaN,...,1/24/2023,NaN,NaN,PO01,NaN,NaN,NaN,test@example.com,T,NaN
27,PURCHORD,NaN,5,313,T,2055,1/26/2023,1,NaN,NaN,...,1/26/2023,NaN,NaN,PO02,NaN,NaN,NaN,test@example.com,T,NaN
28,SALESORD,NaN,5,56,T,NaN,9/7/2022,1,NaN,NaN,...,9/7/2022,NaN,0,SO01,NaN,NaN,NaN,NaN,NaN,9/7/2022

In [ ]:
df.to_excel('test.xlsx')

In [ ]:
status_conversion = None
transaction_type = transaction.get('type')
transaction_status = transaction.get('status')

status_conversions = {
    'Bill': {
        'A': 'Open',
        'B': 'Paid In Full'
},
'Bill Payment': {
'V': 'Voided',
'Z': 'Online Bill Pay Pending Accounting Approval'
},
'Cash Sale': {
'A': 'Unapproved Payment',
'B': 'Not Deposited',
'C': 'Deposited'
},
'Check': {
'V': 'Voided',
'Z': 'Online Bill Pay Pending Accounting Approval'
},
'Commission': {
'A': 'Pending Payment',
'O': 'Overpaid',
'P': 'Pending Accounting Approval',
'R': 'Rejected by Accounting',
'X': 'Paid In Full'
},
'Credit Memo': {
'A': 'Open',
'B': 'Fully Applied'
},
'Customer Deposit': {
'A': 'Not Deposited',
'B': 'Deposited',
'C': 'Fully Applied',
'Customer Refund': {
'V': 'Voided'
},
'Expense Report': {
'A': 'In Progress',
'B': 'Pending Supervisor Approval',
'C': 'Pending Accounting Approval',
'D': 'Rejected by Supervisor',
'E': 'Rejected by Accounting',
'F': 'Approved by Accounting',
'G': 'Approved (Overridden) by Accounting',
'H': 'Rejected (Overridden) by Accounting',
'I': 'Paid In Full'
},
'Invoice': {
'A': 'Open',
'B': 'Paid In Full'
},
'Item Fulfillment': {
'A': 'Picked',
'B': 'Packed',
'C': 'Shipped'
},
'Journal': {
'A': 'Pending Approval',
'B': 'Approved for Posting'
},
'Opportunity': {
'A': 'In Progress',
'B': 'Issued Estimate',
'C': 'Closed – Won',
'D': 'Closed – Lost'
},
'Paycheck': {
'A': 'Undefined',
'C': 'Pending Tax Calculation',
'D': 'Pending Commitment',
'F': 'Committed',
'P': 'Preview',
'R': 'Reversed'
},
'Payment': {
'A': 'Unapproved Payment',
'B': 'Not Deposited',
'C': 'Deposited'
},
'Payroll Liability Check': {
'V': 'Voided'
},
'Purchase Order': {
'A': 'Pending Supervisor Approval',
'B': 'Pending Receipt',
'C': 'Rejected by Supervisor',
'D': 'Partially Received',
'E': 'Pending Billing/Partially Received',
'F': 'Pending Bill',
'G': 'Fully Billed',
'H': 'Closed'
},
'Quote': {
'A': 'Open',
'B': 'Processed',
'C': 'Closed',
'V': 'Voided',
'X': 'Expired'
},
'Return Authorization': {
'A': 'Pending Approval',
'B': 'Pending Receipt',
'C': 'Cancelled',
'D': 'Partially Received',
'E': 'Pending Refund/Partially Received',
'F': 'Pending Refund',
'G': 'Refunded',
'H': 'Closed'
},
'Sales Order': {
'A': 'Pending Approval',
'B': 'Pending Fulfillment',
'C': 'Cancelled',
'D': 'Partially Fulfilled',
'E': 'Pending Billing/Partially Fulfilled',
'F': 'Pending Billing',
'G': 'Billed',
'H': 'Closed'
},
'Sales Tax Payment': {
'V': 'Voided',
'Z': 'Online Bill Pay Pending Accounting Approval'
},
'Statement Charge': {
'A': 'Open',
'B': 'Paid In Full'
},
'Tax Liability Cheque': {
'V': 'Voided'
},
'Tegata Payable': {
'E': 'Endorsed',
'I': 'Issued',
'P': 'Paid'
},
'Tegata Receivables': {
'C': 'Collected',
'D': 'Discounted',
'E': 'Endorsed',
'H': 'Holding'
},
'Transfer Order': {
'A': 'Pending Approval',
'B': 'Pending Fulfillment',
'C': 'Rejected',
'D': 'Partially Fulfilled',
'E': 'Pending Receipt/Partially Fulfilled',
'F': 'Pending Receipt',
'G': 'Received',
'H': 'Closed'
},
'Vendor Return Authorization': {
'A': 'Pending Approval',
'B': 'Pending Return',
'C': 'Cancelled',
'D': 'Partially Returned',
'E': 'Pending Credit/Partially Returned',
'F': 'Pending Credit',
'G': 'Credited',
'H': 'Closed'
},
'Work Order': {
'B': 'Pending Build',
'C': 'Cancelled',
'D': 'Partially Built',
'G': 'Built',
'H': 'Closed'
}
}
}

status_conversion = conversions.get(transaction_type, {}).get(transaction_status)

In [ ]:
status_conversion = None
transaction_type = transaction.get('type')
transaction_status = transaction.get('status')
status_conversions = {
    'Bill': {
        'A': 'Open',
        'B': 'Paid In Full'
    },
    'Bill Payment': {
        'V': 'Voided',
        'Z': 'Online Bill Pay Pending Accounting Approval'
    },
    'Cash Sale': {
        'A': 'Unapproved Payment',
        'B': 'Not Deposited',
        'C': 'Deposited'
    },
    'Check': {
        'V': 'Voided',
        'Z': 'Online Bill Pay Pending Accounting Approval'
    },
    'Commission': {
        'A': 'Pending Payment',
        'O': 'Overpaid',
        'P': 'Pending Accounting Approval',
        'R': 'Rejected by Accounting',
        'X': 'Paid In Full'
    },
    'Credit Memo': {
        'A': 'Open',
        'B': 'Fully Applied'
    },
    'Customer Deposit': {
        'A': 'Not Deposited',
        'B': 'Deposited',
        'C': 'Fully Applied'
    },
    'Customer Refund': {
        'V': 'Voided'
    },
    'Expense Report': {
        'A': 'In Progress',
        'B': 'Pending Supervisor Approval',
        'C': 'Pending Accounting Approval',
        'D': 'Rejected by Supervisor',
        'E': 'Rejected by Accounting',
        'F': 'Approved by Accounting',
        'G': 'Approved (Overridden) by Accounting',
        'H': 'Rejected (Overridden) by Accounting',
        'I': 'Paid In Full'
    },
    'Invoice': {
        'A': 'Open',
        'B': 'Paid In Full'
    },
    'Item Fulfillment': {
        'A': 'Picked',
        'B': 'Packed',
        'C': 'Shipped'
    },
    'Journal': {
        'A': 'Pending Approval',
        'B': 'Approved for Posting'
    },
    'Opportunity': {
        'A': 'In Progress',
        'B': 'Issued Estimate',
        'C': 'Closed – Won',
        'D': 'Closed – Lost'
    },
    'Paycheck': {
        'A': 'Undefined',
        'C': 'Pending Tax Calculation',
        'D': 'Pending Commitment',
        'F': 'Committed',
        'P': 'Preview',
        'R': 'Reversed'
    },
    'Payment': {
        'A': 'Unapproved Payment',
        'B': 'Not Deposited',
        'C': 'Deposited'
    },
    'Payroll Liability Check': {
        'V': 'Voided'
    },
    'Purchase Order': {
        'A': 'Pending Supervisor Approval',
        'B': 'Pending Receipt',
        'C': 'Rejected by Supervisor',
        'D': 'Partially Received',
        'E': 'Pending Billing/Partially Received',
        'F': 'Pending Bill',
        'G': 'Fully Billed',
        'H': 'Closed'
    },
    'Quote': {
        'A': 'Open',
        'B': 'Processed',
        'C': 'Closed',
        'V': 'Voided',
        'X': 'Expired'
    },
    'Return Authorization': {
        'A': 'Pending Approval',
        'B': 'Pending Receipt',
        'C': 'Cancelled',
        'D': 'Partially Received',
        'E': 'Pending Refund/Partially Received',
        'F': 'Pending Refund',
        'G': 'Refunded',
        'H': 'Closed'
    },
    'Sales Order': {
        'A': 'Pending Approval',
        'B': 'Pending Fulfillment',
        'C': 'Cancelled',
        'D': 'Partially Fulfilled',
        'E': 'Pending Billing/Partially Fulfilled',
        'F': 'Pending Billing',
        'G': 'Billed',
        'H': 'Closed'
    },
    'Sales Tax Payment': {
        'V': 'Voided',
        'Z': 'Online Bill Pay Pending Accounting Approval'
    },
    'Statement Charge': {
        'A': 'Open',
        'B': 'Paid In Full'
    },
    'Tax Liability Cheque': {
       'V': 'Voided'
    },
    'Tegata Payable': {
        'E': 'Endorsed',
        'I': 'Issued',
        'P': 'Paid'
    },
    'Tegata Receivables': {
        'C': 'Collected',
        'D': 'Discounted',
        'E': 'Endorsed',
        'H': 'Holding'
    },
    'Transfer Order': {
        'A': 'Pending Approval',
        'B': 'Pending Fulfillment',
        'C': 'Rejected',
        'D': 'Partially Fulfilled',
        'E': 'Pending Receipt/Partially Fulfilled',
        'F': 'Pending Receipt',
        'G': 'Received',
        'H': 'Closed'
    },
    'Vendor Return Authorization': {
        'A': 'Pending Approval',
        'B': 'Pending Return',
        'C': 'Cancelled',
        'D': 'Partially Returned',
        'E': 'Pending Credit/Partially Returned',
        'F': 'Pending Credit',
        'G': 'Credited',
        'H': 'Closed'
    },
        'Work Order': {
        'B': 'Pending Build',
        'C': 'Cancelled',
        'D': 'Partially Built',
        'G': 'Built',
        'H': 'Closed'
    }}

status_conversion = conversions.get(transaction_type, {}).get(transaction_status)